@charset "UTF-8";


body{
background-image: linear-gradient( to right, rgb(236, 211, 211), rgb(251, 159, 159));

}

p.underline{
text-decoration: underline;}

footer{

    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20pt;
    
}