@charset "UTF-8";

/*reset padrão*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding-top: 20px;
}

main{

    background-color: aliceblue;
    padding: 20px;
   max-width: 800px;
   min-width: 320px;
   margin: auto;
   height: auto;
   border: solid black 3px;
   padding-top: 30px;


}

footer{

background-color: black;
color: white;
font-variant: small-caps;
font-size: larger;
text-align: center;

}