/*reset padrão*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


section {
display: flex;
align-items: center;
justify-content: center;
height: 50vh;
padding: 10px;

}
section#n1{
    background-color: blue;
    border: solid 5px black;
}
section#n2{
    background-color: blueviolet;
    border: solid 5px black;
}


h1{
font-size: max(50px, 5vw);
text-align: center;
}

