@charset "UTF-8";



















footer{

    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20pt;
    
}